<div id="<%= dom_id issue %>">
  <p>
    <strong>標題:</strong>
    <%= issue.title %>
  </p>

  <p>
    <strong>內容:</strong>
    <%= issue.content %>
  </p>

  <p>
    <strong>優先度:</strong>
    <%= issue.priority %>
  </p>

  <p>
    <strong>狀態:</strong>
    <%= issue.status %>
  </p>

  <p>
    <strong>開始日:</strong>
    <%= issue.started_at %>
  </p>

  <p>
    <strong>結束日:</strong>
    <%= issue.finished_at %>
  </p>

</div>
