<div id="<%= dom_id issue %>">
  <p>
    <strong>Title:</strong>
    <%= issue.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= issue.content %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= issue.priority %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= issue.status %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= issue.started_at %>
  </p>

  <p>
    <strong>Finished at:</strong>
    <%= issue.finished_at %>
  </p>

</div>
