<div id="issues" class="container">
  <h1>問題列表</h1>
  <%= search_form_for @q do |f| %>
    <div class="row row-cols-3">
      <div class="col">
        <%= f.label :title_or_content_cont ,class: "form-label" %>
        <%= f.search_field :title_or_content_cont ,class: "form-control" %>
      </div>
      <div class="col">
        <%= f.label :status_eq ,class: "form-label" %>
        <%= f.select :status, Issue.human_enum_collection(:statuses), {}, { class: "form-select", name: 'q[status_eq]' } %>
      </div>
    </div>
    <div class="d-flex mt-2 flex-row-reverse">
      <%= f.submit clsss: 'btn btn-outline-dark mx-2' %>
      <%= link_to "清除", issues_path, class: 'btn btn-outline-dark mx-2' %>
    </div>
  <% end %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= Issue.human_attribute_name(:title) %></th>
        <th scope="col"><%= Issue.human_attribute_name(:content) %></th>
        <th scope="col">
          <%= sort_link(@q, :priority_name, Issue.human_attribute_name(:priority), default_order: :desc) %>
        </th>
        <th scope="col"><%= Issue.human_attribute_name(:status) %></th>
        <th scope="col">
          <%= sort_link(@q, :started_at, Issue.human_attribute_name(:started_at), default_order: :desc) %>
        </th>
        <th scope="col">
          <%= sort_link(@q, :finished_at, Issue.human_attribute_name(:finished_at), default_order: :desc) %>
        </th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @issues.each do |issue| %>
        <tr>
          <td><%= issue.id %></td>
          <td><%= issue.title %></td>
          <td><%= issue.content %></td>
          <td><%= Issue.human_enum_name(:priority, issue.priority) %></td>
          <td><%= Issue.human_enum_name(:status, issue.status) %></td>
          <td><%= issue.started_at %></td>
          <td><%= issue.finished_at %></td>
          <td><%= button_to '編輯', edit_issue_path(issue), method: :get, class: "btn btn-primary btn-sm" %></td>
          <td><%= button_to '刪除', issue_path(issue), method: :delete, class: "btn btn-danger btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @issues %>
  <%= button_to '新問題', new_issue_path, method: :get, class: "btn btn-secondary" %>
</div>
