<p style="color: green"><%= notice %></p>

<%= render @issue %>

<div>
  <%= link_to '修改問題', edit_issue_path(@issue) %> |
  <%= link_to '回到問題列表', issues_path %>

  <%= button_to '刪除', @issue, method: :delete %>
</div>
